


svg.yearclock {
	background-color:#0a0a0aff;
	--text-colour: #eb1f; /*  */


	.body {
		filter: drop-shadow(0px 10px 10px #000a) drop-shadow(0px -10px 30px #ea1a);
		clip-path: url(#bodyClip);
	}

	.face   {
		fill: #222f;
		filter: drop-shadow(0px 10px 10px #000a) drop-shadow(0px -10px 30px #ea1a);
	}
}


g.season {

	.seasonFace {
		fill: #332;
	}
	path { filter:none;}
}


svg.yearclock .tick {
	stroke: var(--text-colour);
}

.sectorGroup path {
	stroke: var(--text-colour);
	filter: drop-shadow(0px -10px 30px #ea1a);
}



svg.yearclock .label,
.dial-marker
{
	fill: var(--text-colour);
	filter: drop-shadow(0px -10px 30px #ea1a);
}


svg.yearclock .hands {
	filter: drop-shadow(0px 20px 10px #1117) drop-shadow(0px -10px 30px #ea1a);

	path.yearHand  {
		stroke: #e30f;
		fill: #e00f;
		/* stroke-width: 25; */
		stroke-linejoin: round;
	}

	path.monthHand  {
		stroke:#e30f;
		fill: #e00f;
		/* stroke-width: 25; */
		stroke-linejoin: round;
	}
}

/*
.dashboard-lighting {
	flood-color: orange;
	flood-opacity: .5;
}
*/
