/*
** car dashboard
*/


svg.yearclock {
	background-color:#111f;
	--body: #222f;
	--backing-colour: #555;
	--text-colour: white;
	--hand-colour: #e00f;

	font-size: 48px;
	font-family: Arial, sans-serif;

	background:
		repeating-linear-gradient(
			315deg,
			#000f,
			#333a 19px,
			#000a 20px
		),
		repeating-linear-gradient(
			45deg,
			#000f,
			#333a 19px,
			#000a 20px
		);


	.body {
		fill: var(--body);
		stroke:black;
		stroke-width: 2px;
		stroke-linejoin: round;
		fill-rule: evenodd;

		/* stroke: url(#body-light);
		paint-order: stroke; */

		/* clip-path: url(#bodyClip); */
		filter: drop-shadow(0px 10px 20px #000d);
	}

	.backing {
		fill: var(--backing-colour);
		filter: drop-shadow(0px 10px 20px #000b);
	}

	.face   {
		fill: #444f;
		stroke: silver;
		stroke-width: 1px;
		fill-rule: evenodd;
		filter: drop-shadow(0px 7px 10px #000a);
	}

	path.star {
		fill-rule:nonzero;
		stroke-width:5px;
		stroke:#f00a;
		fill:#000a;
	}
}

g.season {
	clip-path: url(#bodyClip);

	.seasonFace {
		fill: #555;
	}
	.seasonDial {
		stroke: black;
	}
	.sector.season-summer { fill: #f77a }
	.sector.season-autumn { fill: #ff7a }
	.sector.season-winter { fill: #77fa }
	.sector.season-spring { fill: #7f7a }


	.thermometer {
		font-size: 3ex;
		font-style: normal;
		stroke:	none;
		fill:var(--text-colour);
	}
}



.group-sector path {
	stroke: #fff2;
	fill: #fff1;
	stroke-width: 1px;
}

.group-sector.monthDay path:nth-last-child(1),
.group-sector.monthDay path:nth-last-child(2),
.group-sector.monthDay path:nth-last-child(3),
.group-sector.month path:last-child
{
	stroke: var(--text-colour);
	fill: #f00a;
}


.group-label,
.dial-marker,
.dateLabel
{
	text-anchor: middle;
	dominant-baseline: middle;
	fill: var(--text-colour);
	stroke: black;
	stroke-width: 5;
	paint-order: stroke;

	font-variant: small-caps;

	&.month text {
		font-size: 3em;
		font-style: italic;
	}

	&.monthDay text {
		font-size: 4ex;
		font-style: italic;
	}

	.dayName, .date {
		font-size: 3em;
	}

}

g.warningLight {
	text {
		text-anchor: middle;
		dominant-baseline: central;
		fill: var(--text-colour);
		font-size: 3em;
	}
}


.hands {
	filter: drop-shadow(0px 20px 10px #111a);

	path.yearHand,
	path.monthHand  {
		stroke: var(--hand-colour);
		fill: var(--hand-colour);
		stroke-width: 5;
		stroke-linejoin: round;
	}
}

