svg.yearclock, svg.yearclock * {
	background: none !important;
	background-color: none !important;
	fill:none !important;
	stroke: black !important;
	stroke-width: 1px !important;
	filter: none !important;
}


svg#clock.yearclock g#grid {

	* { stroke: #0aaa !important; }

	.axis {
		stroke-width: 5px !important;
	}
	.major {
		stroke-width: 2px !important;
	}
	.minor {
		stroke-width: 1px;
	}

}

