/*
** sector-day theme styles
*/




svg.yearclock {
	background-color: seashell;
	font-size: 36px;
	font-family: monospace;

	--white: #fff7;
	--lightgrey: #fff5;
	--darkgrey: #bbb7;
	--labelblack: #000f;
	--shadow: #aaaf;
	--yearhand: darkorange;
	--hover: red;


}



svg.yearclock .face   {
	fill: white;
	stroke: none;
	stroke-width: 10;
	filter: drop-shadow(0px 10px 10px gray);
}


* {
	stroke: var(--darkgrey);
	stroke-width: 1px;
}


/* Sectors
*/

.month .sector:nth-of-type(odd)
{
	fill: var(--darkgrey);
}


.month .sector:nth-of-type(even)
{
	fill: var(--lightgrey);
}


.sector.season-summer { fill: #f004 }
.sector.season-autumn { fill: #ff04 }
.sector.season-winter { fill: #00f4 }
.sector.season-spring { fill: #0f04 }

/*
.sector.season-summer {
	fill: url(#gradient-summer);
}
.sector.season-autumn { fill: #ff04 }
.sector.season-winter { fill: #00f4 }
.sector.season-spring { fill: #0f04 } */





.group-sector.yearDay {
	.weekday {
		fill: var(--lightgrey);
	}
	.weekend {
		fill: var(--darkgrey);
	}
}


/* Labels
*/

.group-label.month text{
	text-anchor: middle;
	dominant-baseline: middle;
	fill: var(--labelblack);
	font-size: 7ex;
	font-variant: small-caps;
	filter: drop-shadow(0ex 0ex 0.4ex white);
}


.label.dateLabel, .label.yearLabel {
	fill: var(--labelblack);
	text-anchor: middle;
	font-size: 6ex;
	dominant-baseline: central;
	filter: drop-shadow(0ex 0ex 0.4ex white);
}

svg.yearclock .label.dateLabel {
	font-size: 6ex;
}


.hands {
	filter: drop-shadow(0px 20px 10px var(--shadow));
}


.yearHand  {
	stroke: var(--yearhand);
	fill: var(--yearhand);
	stroke-width: 1;
	stroke-linejoin: round;
}



/* Interactive
*/
.sector {
	transition: all .5s ease-in;
}

.sector:hover,
.yearHand:hover
{
	stroke: var(--hover);
	stroke-width: 5;
	paint-order: fill;
	transition: all .05s ease-in;
}

/* .hands:hover {
	/ * //stroke: var(--hover); * /
	filter: drop-shadow(0px 20px 10px var(--hover));
} */