/* page
*/

body {
	margin: 0;
	font-family: sans-serif;
}

footer {
	color: silver;
	padding: 1em;
	text-align: center;
	background-color: white;
}

a:link {
	color: #7ABECF;
}

svg#clock {
	width: 90vw;
	height: 90vh;
	padding: 5vh 5vw;

}


/* clock settings form
*/

form#form-clock {
	display: grid;
	position:absolute;
	right:0ex;
	border:1px solid silver;
	background-color:#eee9;
	border-radius: 1ex;
	padding:1ex;
	margin: 1ex;

	/*
	input, select {
		width:10em;
	}
	*/

}

@media (orientation: portrait) {
	form#form-clock {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		label { text-align:center;}
	}
}

@media (orientation: landscape) {
	form#form-clock {
		grid-template-columns: 1fr ;
	}
}

.container {
	display: grid;


	/*
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
 	*/
	/*
	grid-template-columns: [first] 50% [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
	grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
	*/

	border:1px solid coral;
	padding:1ex;



	.item {
		border:1px solid indigo;
		padding:1ex;
		margin:1ex;
	}

}


