/* page
*/

body {
	margin: 0;
	font-family: sans-serif;
}

footer {
	color: silver;
	padding: 1em;
	text-align: center;
	background-color: white;
}

a:link {
	color: #7ABECF;
}

svg#clock {
	width: 90vw;
	height: 90vh;
	padding: 5vh 5vw;
}

