svg#clock {
	background-color: brown;
	font-size: 48px;
	font-family:cursive;
}

svg#clock .face   {
	fill: burlywood;
	stroke: silver;

}



svg#clock .monthLabels text{
	font-variant:normal;
	font-style: italic;
	fill:black;
	stroke:silver;
}