/*
** vintage theme styles
*/
svg.yearclock {

	--lightblue: #ade9;
	--lightpink: #fbc;
	--ivory: #ffee;

	--sectorlight: #fff9;
	--sectordark: #ccc9;


	/*
	background: repeating-linear-gradient(
		45deg,
		ivory,
		ivory 2vw,
		gold 2.4vw,
		gold 2.6vw
	); */


	background:
		repeating-linear-gradient(
			to right,
			var(--ivory),
			var(--ivory) 2vw,
			var(--lightblue) 2.4vw,
			var(--lightblue) 2.6vw,
			var(--lightpink) 3vw,
			var(--lightpink) 7vw,
			var(--lightblue) 7.4vw,
			var(--lightblue) 7.6vw,
			var(--ivory) 8vw,
			var(--ivory) 10vw
		),
		repeating-linear-gradient(
			135deg,
			ivory,
			ivory 1vh,
			gold 2vh,
			gold 3vh,
			ivory 3.3vh
		);
}

svg.yearclock {
	/* fill: url(#Gradient1); */
	/* background-color: burlywood; */
	/* background-image: url(#Gradient1); */
	font-size: 48px;
	font-family:  cursive, serif;
}


.stop1 {
	stop-color:brown;
}
.stop2 {
	stop-color: burlywood;
	stop-opacity: 1;
}
.stop3 {
	stop-color: brown;
}


svg.yearclock .body   {
	/* fill: wheat; */
	stroke: grey;
	stroke-width: 3;
	filter: drop-shadow(0px 20px 20px gray);
}


svg.yearclock .face   {
	fill: wheat;
	stroke: silver;
	stroke-width: 10;
	filter: drop-shadow(0px 10px 10px gray);
}



svg.yearclock .sector {
	stroke:black;
	stroke-width:1px;
	fill: silver;
}

svg.yearclock .sector:nth-of-type(odd) {
	fill: var(--sectorlight);
}

svg.yearclock .sector:nth-of-type(even) {
	fill: var(--sectordark);
}


svg.yearclock .tick * {
	stroke: black;
	stroke-linecap: butt;
}

svg.yearclock .tick.day .first {
	stroke-width: 20;
}

svg.yearclock .tick.day .weekday {
	stroke-width: 10;
}

svg.yearclock .tick.day .weekend {
	stroke-width: 30;
}

svg.yearclock .month .label {
	fill: black;
}


svg.yearclock .monthLabels text{
	text-anchor: middle;
	dominant-baseline: middle;
	fill: black;
	stroke: none;
	font-size: 3em;
	font-variant: small-caps;
}


svg.yearclock .label.dateLabel {
	fill: black;
	text-anchor: middle;
	font-size: 4em;
	dominant-baseline: central;
}


svg.yearclock .hands {
	filter: drop-shadow(0px 20px 10px gray);
}

svg.yearclock path.yearHand  {
	stroke: black;
	fill: black;
	stroke-width: 25;
	stroke-linejoin: round;
}

svg.yearclock path.monthHand  {
	stroke:dimgrey;
	fill: dimgrey;
	stroke-width: 15;
	stroke-linejoin: round;
}