/*
** Wall Clock theme styles
*/


svg.yearclock {
	background-color: seashell;
	font-size: 48px;
	font-family: Arial, sans-serif;
}


svg.yearclock .face   {
	fill: whitesmoke;
	stroke: silver;
	stroke-width: 10;
	filter: drop-shadow(0px 10px 10px gray);
}


svg.yearclock .tick * {
	stroke: black;
	stroke-linecap: butt;
}

svg.yearclock .tick.day .first {
	stroke-width: 20;
}

svg.yearclock .tick.day .weekday {
	stroke-width: 10;
}

svg.yearclock .tick.day .weekend {
	stroke-width: 30;
}

svg.yearclock .month .label {
	fill: black;
}


svg.yearclock .label.month text{
	text-anchor: middle;
	dominant-baseline: middle;
	fill: black;
	stroke: none;
	font-size: 3.2em;
	font-variant: small-caps;
}


svg.yearclock .label.dateLabel {
	fill: black;
	text-anchor: middle;
	font-size: 5em;
	dominant-baseline: central;
}


svg.yearclock .hands {
	filter: drop-shadow(0px 20px 10px gray);
}

svg.yearclock path.yearHand  {
	stroke: black;
	fill: black;
	stroke-width: 10;
	stroke-linejoin: round;
	paint-order: stroke;
}

svg.yearclock path.monthHand  {
	stroke:dimgrey;
	fill: dimgrey;
	stroke-width: 10;
	stroke-linejoin: round;
	paint-order: stroke;
}


text.schwartz {
	text-anchor: middle;
	dominant-baseline: middle;
	fill: black;
	stroke: none;
	font-size: 2ex;
	font-variant: small-caps;
	letter-spacing: 0.5ex;
}


#schwartz:hover + g.hands {

	/* filter: drop-shadow(0px 0px 20px #2227); */

	path.yearHand {
		fill: lightgreen;
		stroke: lightgreen;
		filter: drop-shadow(0px 0px 20px lime);
	}

	path.monthHand {
		fill: orange;
		stroke: orange;
		filter: drop-shadow(0px 0px 20px darkorange);
	 }
}
