/* Clock
*/

svg#clock {
	display: block;
	background-color: #e6e6e6;
	width: 90vw;
	height: 90vh;
	padding: 5vh 5vw;
	font-size: 48px;
}

svg#clock .face   { fill: white; }

svg#clock .sector.jan { fill: #7ABECF }
svg#clock .sector.feb { fill: #5FB69C }
svg#clock .sector.mar { fill: #2EA544 }
svg#clock .sector.apr { fill: #AEC013 }
svg#clock .sector.may { fill: #F3C301 }
svg#clock .sector.jun { fill: #F18E17 }
svg#clock .sector.jul { fill: #E42D1A }
svg#clock .sector.aug { fill: #983021 }
svg#clock .sector.sep { fill: #89493B }
svg#clock .sector.oct { fill: #7C5E57 }
svg#clock .sector.nov { fill: #6F6E6D }
svg#clock .sector.dec { fill: #738C92 }


svg#clock .tick {
	stroke: white
}

svg#clock .tick.day {
	stroke-linecap: round;
}

svg#clock .tick.day.first {
	stroke-width: 2;
}

svg#clock .tick.day.weekday {
	stroke-width: 2;
}

svg#clock .tick.day.weekend {
	stroke-width: 7;
}


svg#clock .label.month {
	fill: white;
	text-anchor: middle;
	/* transform: translate(0, 0) */
	dominant-baseline: middle;
}

svg#clock .label.year {
	fill: silver;
	text-anchor: middle;
	font-size: 5em;
	/* vertical-align: -50%; */
	/* baseline-shift: -50%; */
	/* transform: translate(0, 0.6cap) */
	dominant-baseline: central;
}

svg#clock .needle {
	stroke: black;
	fill: black;
	stroke-width: 15;
	stroke-linejoin: round;
}
