/*
** sector-day theme styles
*/


:root {
	--white: #eee7;
	--lightgrey: #eee7;
	--darkgrey: #aaa7;
	--labelblack: #000f;
	--shadow: #aaaf;
	--yearhand: darkorange;
	--hover: red;

}


svg.yearclock {
	background-color: seashell;
	font-size: 36px;
	font-family: monospace;
}



svg.yearclock .face   {
	fill: white;
	stroke: none;
	stroke-width: 10;
	filter: drop-shadow(0px 10px 10px gray);
}


* {
	stroke: var(--darkgrey);
	stroke-width: 1px;
}


/* Sectors
*/

.month .sector:nth-of-type(odd)
{
	fill: var(--darkgrey);
}


.month .sector:nth-of-type(even)
{
	fill: var(--lightgrey);
}


.sector.season-Summer { fill: #f004 }
.sector.season-Autumn { fill: #ff04 }
.sector.season-Winter { fill: #00f4 }
.sector.season-Spring { fill: #0f04 }



.yearDay .sector.day.weekend {
	fill: var(--darkgrey);
}



.sector.day.Monday, .sector.day.Wednesday, .sector.day.Friday {
	fill: var(--white);
}

.sector.day.Tuesday, .sector.day.Thursday {
	fill: var(--lightgrey);
}


/* Labels
*/

svg.yearclock .monthLabels text{
	text-anchor: middle;
	dominant-baseline: middle;
	fill: var(--labelblack);
	font-size: 7ex;
	font-variant: small-caps;
	filter: drop-shadow(0ex 0ex 0.4ex white);
}


.label.dateLabel, .label.yearLabel {
	fill: var(--labelblack);
	text-anchor: middle;
	font-size: 10ex;
	dominant-baseline: central;
	filter: drop-shadow(0ex 0ex 0.4ex white);
}

svg.yearclock .label.dateLabel {
	font-size: 8ex;
}


.hands {
	filter: drop-shadow(0px 20px 10px var(--shadow));
}


path.yearHand  {
	stroke: var(--yearhand);
	fill: var(--yearhand);
	stroke-width: 25;
	stroke-linejoin: round;
}



/* Interactive
*/

.sector:hover
{
	stroke: var(--hover);
	stroke-width: 5;
	paint-order: fill;
}

.hands:hover {
	/* //stroke: var(--hover); */
	filter: drop-shadow(0px 20px 10px var(--hover));
}