/*
** Lightning theme styles
*/

/* clock basics */
:root {
	--background: seashell;
	--clockface: white;
	--white: #eee7;

	--sectorLight: #eee7;
	--sectorDark: #aaa7;
	--sectorStroke: #9997;

	--textColour: #000f;
	--textStroke: #1117;
	--textShadow: white;

	--shadow: #aaaf;
	--yearhand: darkorange;

	--current: #ff0e;
	--currentOutline: yellow;

	--hover: red;
}


svg#clock {
	background-color: var(--background);
	font-size: 36px;
	font-family: monospace;
}


svg#clock .face   {
	fill: var(--clockface);
	stroke: none;
	stroke-width: 10;
	filter: drop-shadow(0px 10px 10px gray);
}


path.sector {
	stroke: var(--sectorStroke);
	stroke-width: 1px;
}


/* Sectors: quarter, month, week  */

.quarter .sector:nth-of-type(even),
.month .sector:nth-of-type(odd),
.week .sector:nth-of-type(even)
{
	fill: var(--sectorDark);
}

.quarter .sector:nth-of-type(odd),
.month .sector:nth-of-type(even),
.week .sector:nth-of-type(odd)
{
	fill: var(--sectorLight);
}



/* days */
.sector.day.weekend {
	fill: var(--sectorDark);
}

.sector.day.weekday {
	fill: var(--sectorLight);
}


/* Current date highlights */

.quarter path.sector.current,
.month path.sector.current,
.week path.sector.current,
.day path.sector.current
{
	fill: var(--current);
	stroke: var(--currentOutline);
	filter: drop-shadow(0ex 0ex 0.5ex var(--currentOutline));
	paint-order: fill;
}

.sector:hover, path.sector.current:hover {
	stroke: var(--hover);
	stroke-width: 5;
	paint-order: fill;
}


svg#clock .monthLabels text{
	text-anchor: middle;
	dominant-baseline: middle;
	fill: var(--textColour);
	font-size: 4ex;
	font-variant: small-caps;
	filter: drop-shadow(0ex 0ex 0.2ex var(--textShadow));
}


.label.dateLabel, .label.yearLabel {
	fill: var(--textColour);
	text-anchor: middle;
	font-size: 10ex;
	dominant-baseline: central;
	filter: drop-shadow(0ex 0ex 0.2ex var(--textShadow));
}

svg#clock .label.dateLabel {
	font-size: 8ex;
}
