/*
** Lightning theme - Dark styles
*/


:root {
	--background: #223f;
	--clockface: #111f;

	--sectorLight: #4447;
	--sectorDark: #2227;
	--sectorStroke: #eee7;

	--textDark: #000f;
	--textStroke: #1117;
	--textLight: #ffff;

	--shadow: #aaaf;

	--current: #ff07;
	--currentOutline: yellow;

	--hover: red;
}


/* Sectors: quarter, month, week  */

.quarter .sector:nth-of-type(even),
.month .sector:nth-of-type(odd),
.week .sector:nth-of-type(even),
.sector.day.weekend
{
	fill: var(--sectorLight);
}

.quarter .sector:nth-of-type(odd),
.month .sector:nth-of-type(even),
.week .sector:nth-of-type(odd),
.sector.day.weekday
{
	fill: var(--sectorDark);
}


.label.dateLabel, .label.yearLabel {
	fill: var(--textLight);
	stroke: var(--textStroke);
	stroke-width: 3px;
	filter: drop-shadow(0ex 0ex 0.1ex var(--textLight));
}


.monthLabels text{
	fill: var(--textLight);
	stroke: var(--textStroke);
	font-size: 5ex;
}


/* Current date highlights */

svg#clock .monthLabels text.current
{
	fill: var(--textDark);
	stroke: var(--textDark);
	/* stroke-width: 10px; */
	filter: drop-shadow(0ex 0ex 0.1ex var(--currentOutline));
}