/*
** Lightning theme styles
*/

/* clock basics */
svg.yearclock {
	--background: seashell;
	--clockface: white;
	--white: #eee7;

	--sectorLight: #eee7;
	--sectorDark: #aaa7;
	--sectorStroke: #9997;

	--textDark: #000f;
	--textStroke: #1117;
	--textLight: #ffff;

	--shadow: #aaaf;

	--current: #fa0a;
	--currentOutline: #fa0a;

	--hover: red;
}


.viewBox {
	/* stroke:red;
	stroke-width:10px; */
	fill:transparent;
}

svg.yearclock {
	background-color: var(--background);
	font-size: 36px;
	font-family: monospace;
}


svg.yearclock .body   {
	fill: var(--clockface);
	stroke: none;
	stroke-width: 10;
	filter: drop-shadow(0px 10px 10px gray);
}


path.sector {
	stroke: var(--sectorStroke);
	stroke-width: 1px;
	transition: all .5s ease-in;
	/* mix-blend-mode with labels behind

	For light theme:

	mix-blend-mode: multiply;

	good: darken, multiply,
	interesting: difference, exclusion,
	*/
}


/* Sectors: quarter, month, week
*/

.quarter .sector:nth-of-type(even),
.month .sector:nth-of-type(odd),
.week .sector:nth-of-type(even)
{
	fill: var(--sectorDark);
}

.quarter .sector:nth-of-type(odd),
.month .sector:nth-of-type(even),
.week .sector:nth-of-type(odd)
{
	fill: var(--sectorLight);
}


/* days */
.group-sector.yearDay .weekend {
	fill: var(--sectorDark);
}

.group-sector.yearDay .weekday {
	fill: var(--sectorLight);
}


/* Current date sector highlights */

.quarter path.sector.current,
.month path.sector.current,
.week path.sector.current,
.yearDay path.sector.current
{
	fill: var(--current);
	stroke: var(--currentOutline);
	stroke-width: 5px;
	filter: drop-shadow(0ex 0ex 0.5ex var(--currentOutline));
	paint-order: fill;
	transition: all .5s ease-in;
}

.sector:hover, path.sector.current:hover {
	stroke: var(--hover);
	stroke-width: 5;
	paint-order: fill;
	transition: all .05s ease-in;
}


/* Labels
*/

.group-label {
	fill: var(--textDark);
	text-anchor: middle;
	dominant-baseline: middle;
	font-variant: small-caps;

	&.quarter text
	{
		font-size: 4ex;
		filter: drop-shadow(0ex 0ex 0.2ex var(--textLight));
	}
	&.month text {
		font-size: 4ex;
		filter: drop-shadow(0ex 0ex 0.2ex var(--textLight));
	}
	&.week text {
		font-size: 1.5ex;
	}
	&.yearDay text {
		font-size: 0.7ex;
	}
}


.label.dateLabel, .label.yearLabel {
	fill: var(--textDark);
	font-size: 9ex;
	dominant-baseline: central;
	filter: drop-shadow(0ex 0ex 0.2ex var(--textLight));
}






/* Clock labels
*/

.label.dateLabel.year {
	text-anchor: start;
	dominant-baseline: hanging;
}

.label.dateLabel.date {
	text-anchor: end;
	dominant-baseline: hanging;
}

.label.dateLabel.week {
	text-anchor: start;
	dominant-baseline: middle;
}

.label.dateLabel.dayOfYear {
	text-anchor: end;
	dominant-baseline: middle;
}

