/*
** testing theme
*/

/* clock basics */
svg.yearclock {
	--background: seashell;
	--clockface: white;
	--white: #eee7;

	--sectorLight: #ee0b;
	--sectorDark: #22ab;
	--sectorStroke: #9997;

	--textDark: #000f;
	--textStroke: #1117;
	--textLight: #ffff;

	--shadow: #aaaf;

	--current: #fa0a;
	--currentOutline: #fa0a;

	--hover: red;
}

/**/

.face   {
	fill: whitesmoke;
	stroke: silver;
	stroke-width: 10;

	/* filter: drop-shadow(0px 20px 10px #111a); */
	box-shadow: 0px 20px  red;
}

/* sectors
*/

path.sector {
	stroke: var(--sectorStroke);
	stroke-width: 3px;
	fill:transparent;
}


/*
	mix-blend-mode:color;
	mix-blend-mode:color-burn;
	mix-blend-mode:color-dodge;
	mix-blend-mode:darken;
	mix-blend-mode:difference;
	mix-blend-mode:exclusion;
	mix-blend-mode:hard-light;
	mix-blend-mode:hue;
	mix-blend-mode:lighten;
	mix-blend-mode:luminosity;
	mix-blend-mode:multiply;
	mix-blend-mode:normal;
	mix-blend-mode:overlay;
	mix-blend-mode:saturation;
	mix-blend-mode:screen;
	mix-blend-mode:soft-light;
*/

.quarter .sector:nth-of-type(even),
.yearMonth .sector:nth-of-type(odd),
.week .sector:nth-of-type(even)
{
	fill: var(--sectorDark);
	/* mix-blend-mode:multiply; */
}

.quarter .sector:nth-of-type(odd),
.yearMonth .sector:nth-of-type(even),
.week .sector:nth-of-type(odd)
{
	fill: var(--sectorLight);
	/* mix-blend-mode:multiply; */
}



svg.yearclock .sector.jan { fill: #E42D1A }
svg.yearclock .sector.feb { fill: #983021 }
svg.yearclock .sector.mar { fill: #89493B }
svg.yearclock .sector.apr { fill: #7C5E57 }
svg.yearclock .sector.may { fill: #6F6E6D }
svg.yearclock .sector.jun { fill: #738C92 }
svg.yearclock .sector.jul { fill: #7ABECF }
svg.yearclock .sector.aug { fill: #5FB69C }
svg.yearclock .sector.sep { fill: #2EA544 }
svg.yearclock .sector.oct { fill: #AEC013 }
svg.yearclock .sector.nov { fill: #F3C301 }
svg.yearclock .sector.dec { fill: #F18E17 }


.group-sector.yearDay .weekend {
	fill: #ccc7;
}

.group-sector.yearDay .Monday {
	fill: #ff07;
}






/* labels
*/
.group-label
{
	fill: var(--textDark);
	text-anchor: middle;
	dominant-baseline: middle;
	font-size: 4em;
}

.group-label.yearDay text {
	font-size: 0.5ex;
	fill: var(--textDark);
	stroke:none;
}

text.dateLabel {
	font-size: 5em;
}

/* hands
*/
.yearHand {
	stroke: black;
	fill: black;
	stroke-width: 15;
	stroke-linejoin: round;
	filter: drop-shadow(5px 5px 10px gray);
}



/* Current date sector highlights */

.quarter path.sector.current,
.month path.sector.current,
.week path.sector.current,
path.sector.day.current
{
	fill: var(--current);
	stroke: var(--currentOutline);
	stroke-width: 5px;
	filter: drop-shadow(0ex 0ex 0.5ex var(--currentOutline));
	paint-order: fill;
}

.sector:hover, path.sector.current:hover {
	stroke: var(--hover);
	stroke-width: 5;
	paint-order: fill;
}


.group-symbol * {

	fill:red;
	stroke: green;
	stroke-width:4px;
	/* transform: scale(.1); */
}

.path-star{
	transform: scale(.1);
}