/* Clock
*/

svg.yearclock {
	display: block;
	background-color: #e6e6e6;
	font-size: 48px;
}

svg.yearclock .face   {
	fill: white;
	stroke: none;
}

svg.yearclock .sector * { stroke:none; }

svg.yearclock .sector.jan { fill: #7ABECF }
svg.yearclock .sector.feb { fill: #5FB69C }
svg.yearclock .sector.mar { fill: #2EA544 }
svg.yearclock .sector.apr { fill: #AEC013 }
svg.yearclock .sector.may { fill: #F3C301 }
svg.yearclock .sector.jun { fill: #F18E17 }
svg.yearclock .sector.jul { fill: #E42D1A }
svg.yearclock .sector.aug { fill: #983021 }
svg.yearclock .sector.sep { fill: #89493B }
svg.yearclock .sector.oct { fill: #7C5E57 }
svg.yearclock .sector.nov { fill: #6F6E6D }
svg.yearclock .sector.dec { fill: #738C92 }


svg.yearclock .tick * {
	stroke: white
}

svg.yearclock .tick.day {
	stroke-linecap: round;
}

svg.yearclock .tick.day .first {
	stroke-width: 2;
}

svg.yearclock .tick.day .weekday {
	stroke-width: 2;
}

svg.yearclock .tick.day .weekend {
	stroke-width: 7;
}


svg.yearclock .label text {
	text-anchor: middle;
	dominant-baseline: middle;
	fill: white;
	stroke: none;
}

svg.yearclock .label.dateLabel {
	fill: silver;
	stroke:none;
	text-anchor: middle;
	font-size: 5em;
	dominant-baseline: central;
}

svg.yearclock path.yearHand {
	stroke: black;
	fill: black;
	stroke-width: 15;
	stroke-linejoin: round;
}
