/* page
*/

body {
	margin: 0;
	font-family: sans-serif;
}

footer {
	color: silver;
	padding: 1em;
	text-align: center;
	background-color: white;
}

a:link {
	color: #7ABECF;
}

svg#clock {
	width: 90vw;
	height: 90vh;
	padding: 5vh 5vw;
}


/* clock settings form
*/

form#form-clock {
	display: grid;
	position:absolute;
	right:0ex;
	border:1px solid silver;
	background-color:#eee9;
	border-radius: 1ex;
	padding:1ex;
	margin: 1ex;
}

/* @media (orientation: landscape) { */
@media (min-aspect-ratio: 1.2) {

	form#form-clock {
		grid-template-columns: 1fr ;
	}
}

/* @media (orientation: portrait) { */
@media (max-aspect-ratio: 1.2) {
	form#form-clock {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		label { text-align:right; margin-right:1ex; }
		label::after { content:": "; }
	}
}

@media (max-width: 800px) {
	form#form-clock {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		label { display: none; }
	}
}

:invalid {background-color:pink;}
