/*
** Wall Clock theme styles
*/


svg#clock {
	background-color: seashell;
	font-size: 48px;
	font-family: serif;
}


svg#clock .face   {
	fill: whitesmoke;
	stroke: silver;
	stroke-width: 10;
	filter: drop-shadow(0px 10px 10px gray);
}

/*
svg#clock .sector * {
	 stroke:none;
}

svg#clock .sector.jan { fill: #E42D1A }
svg#clock .sector.feb { fill: #983021 }
svg#clock .sector.mar { fill: #89493B }
svg#clock .sector.apr { fill: #7C5E57 }
svg#clock .sector.may { fill: #6F6E6D }
svg#clock .sector.jun { fill: #738C92 }
svg#clock .sector.jul { fill: #7ABECF }
svg#clock .sector.aug { fill: #5FB69C }
svg#clock .sector.sep { fill: #2EA544 }
svg#clock .sector.oct { fill: #AEC013 }
svg#clock .sector.nov { fill: #F3C301 }
svg#clock .sector.dec { fill: #F18E17 }
*/


svg#clock .tick * {
	stroke: black;
	stroke-linecap: butt;
}

svg#clock .tick.day .first {
	stroke-width: 20;
}

svg#clock .tick.day .weekday {
	stroke-width: 10;
}

svg#clock .tick.day .weekend {
	stroke-width: 30;
}

svg#clock .month .label {
	fill: black;
}


svg#clock .monthLabels text{
	text-anchor: middle;
	dominant-baseline: middle;
	fill: black;
	stroke: none;
	font-size: 3em;
	font-variant: small-caps;
}


svg#clock .label.dateText {
	fill: black;
	text-anchor: middle;
	font-size: 4em;
	dominant-baseline: central;
}


svg#clock .hands {
	filter: drop-shadow(0px 20px 10px gray);
}

svg#clock path.yearHand  {
	stroke: black;
	fill: black;
	stroke-width: 25;
	stroke-linejoin: round;
}

svg#clock path.monthHand  {
	stroke:dimgrey;
	fill: dimgrey;
	stroke-width: 15;
	stroke-linejoin: round;
}